temp/
__pycache__/
venv/

lingvoapi_key
lingvoapi_token
BookDict-Linux.sublime-project
BookDict-Linux.sublime-workspace

books/*
!/books/.gitkeep

vocabulary/*
!/vocabulary/familiar
vocabulary/familiar/*
!/vocabulary/familiar/3000words.rst







